[run]
concurrency = greenlet
source = pq
omit = */cpubound.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError
