[run]
concurrency = greenlet
source = pq
omit =
    *pq/__init__.py
    *pq/cpubound.py
    *pq/utils/version.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError
