.DS_Store
*.log
*.rdb

# IDE
.project
.pydevproject
.idea

#coverage
.coveralls-repo-token
.coverage
htmlcov

#python
.python-version
pulsar_cloud.egg-info
*.pyc
__pycache__
pulsar_queue.egg-info
build
_build
dist
config.py
